.transitions-wrapper {
    -webkit-transition: all 1.0s linear;
    -moz-transition: all 1.0s linear;
    -o-transition: all 1.0s linear;
    -ms-transition: all 0.5s linear;
    transition: all 1.0s linear;
    min-height: 100vh;
}
